.btn {
  padding: 12px 25px;
  background-color: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: 0.5s all;
  &:hover {
    text-decoration: none;
    background-color: #ffd891;
    transform: scale(1.03);
  }
  // &_invisible {
  //   background-color: #bde3f8;
  //   box-shadow: none;
  //   padding: 12px 0 12px 10px;
  //   &:hover {
  //     background-color: #bde3f8;
  //     box-shadow: none;
  //   }
  // }
}
