@media (max-width: 1399.98px) {
  .sidepanel {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills {
      gap: 0px 20px;
      grid-template-columns: repeat(2, 250px);
    }
    &__skill {
      grid-template-columns: 40px 190px;
    }
  }
  .resume {
    &__wrapper {
      padding: 0 10px;
      grid-template-columns: 460px 460px;
      column-gap: unset;
      justify-content: space-between;
    }
  }
  .skills {
    &__items {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: center;
    }
    &__ratings {
      grid-template-columns: repeat(2, 350px);
      justify-content: center;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      justify-content: space-around;
      row-gap: 35px;
    }
    .vertical,
    .horizontal {
      grid-row: unset;
      grid-column: unset;
    }
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .title {
    &_fz36 {
      font-size: 29px;
    }
  }
  .promo {
    &__title {
      width: 500px;
    }
  }
  .about {
    padding-top: 60px;
    &__wrapper {
      grid-template-columns: 325px 370px;
      column-gap: 25px;
    }
    &__descr {
      margin-top: 10px;
    }
    &__skills {
      margin-top: 20px;
      gap: 0px 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, minmax(100px, auto));
      grid-auto-rows: minmax(95px, auto);
    }
    &__skill {
      grid-template-columns: 40px 280px;
      &-text {
        margin-top: 3px;
      }
    }
  }
  .resume {
    padding-top: 60px;
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
    }
  }
  .skills {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      padding: 20px;
      padding-bottom: 20px;
    }
    &__ratings {
      margin-top: 60px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .promo {
    &__title {
      width: 340px;
      line-height: 55px;
      font-size: 35px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template-rows: 400px auto auto;
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
    &__photo {
      grid-row: unset;
    }
    &__skills {
      margin-top: 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__skill {
      grid-template-columns: 40px 200px;
    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 60px;
    }
  }
  .skills {
    padding-top: 40px;
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(250px, auto));
      grid-auto-rows: minmax(250px, auto);
    }
    &__item {
      padding: 15px;
      padding-bottom: 10px;
    }
  }
  .portfolio {
    padding-top: 40px;
    &__wrapper {
      grid-template: repeat(2, 250px) / repeat(2, 250px);
      grid-auto-rows: 250px;
      gap: 25px;
    }
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &_fz36 {
      font-size: 24px;
    }
  }
  .divider {
    margin: 0px auto 0 auto;
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    background: url("../img/main_bg.jpg") no-repeat 60% / cover;
    &__title {
      font-size: 26px;
      line-height: 39px;
      width: 280px;
    }
    &__btns {
      margin-top: 30px;
    }
  }
  .btn {
    &_invisible {
      background-color: unset;
    }
  }
  .about {
    &__wrapper {
      grid-template-rows: 340px auto auto;
    }
    &__descr {
      margin-top: 20px;
    }
    &__skills {
      grid-template-columns: 260px;
      grid-template-rows: repeat(2, minmax(116px, auto));
      grid-auto-rows: minmax(116px, auto);
    }
    &__skill {
      grid-template-columns: 40px 196px;
      column-gap: 24px;
    }
  }
  .resume {
    &__wrapper {
      margin-top: 40px;
      row-gap: 40px;
    }
  }
  .skills {
    .title__section-subtitle {
      // margin-top: 20px;
      // line-height: 36px;
      font-size: 23px;
    }
    &__items {
      margin-top: 20px;
      grid-template-columns: 270px;
      grid-template-rows: repeat(2, minmax(250px, auto));
      grid-auto-rows: minmax(250px, auto);
      gap: 20px;
    }
    &__item {
      padding: 30px;
      padding-bottom: 30px;
    }
    &__ratings {
      grid-template-columns: 300px;
    }
  }
  .portfolio {
    &__wrapper {
      margin-top: 40px;
      grid-template: 280px / 280px;
      grid-auto-rows: 280px;
      gap: 20px;
    }
  }
}
